<li id='comment-<%=comment._id %>'>
	<p>
		<% if((locals.user) && (locals.user.id == comment.user._id)){ %>
			<small>
				<a class='delete-comment-button' href='/comments/destroy/<%= comment.id %>'>X</a>
			</small>
		<% } %>
		<small><%= comment.content %> : </small>
		<small><%= comment.user.name %></small>
		<small class='cmnt-date'><%= moment(comment.createdAt).fromNow() %></small>

		<div class='like-pallet'>
				
				<!-- <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                        <%= comment.likes.length %> Likes
                </a>
	            <% }else{ %>
	                <%= comment.likes.length %> Likes
	            <% } %> -->

	            <% if (locals.user){ %>
				<!-- does not look optimal to me -->
				<% let liked = false; %>
            	<% for(x of comment.likes){ %>
               		<% if(x.user == locals.user.id){ %>
            			<a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" style='color:red'>
                        <%= comment.likes.length %> Likes
                		</a>
                		<% liked=true; %>
                		<% break; %>
            		<% } %>
            	<% } %>
            	<% if(!liked){ %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment" style='color:white'>
                    <%= comment.likes.length %> Likes
                </a>
                <% } %>
	        
	            <% }else{ %>
	        		
	                <a style='color:white'><%= comment.likes.length %> Likes</a>
	        
	            <% } %>
	            
		</div>	

	</p>
</li>