<!-- <big>Post:</big> -->
	<li id='post-<%= post._id %>' style='margin-bottom: 2rem;border-bottom:2px solid red;padding-bottom: 2rem;'>
		
		<p>
			<% if((locals.user) && (locals.user.id == post.user.id)){ %>
			<small>
				<a class = 'delete-post-button' href='/posts/destroy/<%= post._id %>'>X</a>
			</small>
			<% } %>
			<%= post.content %>
			<br>
			Author:<small><%= post.user.name %></small>
			<br>
			<%= moment(post.createdAt)./*format("MMMM Do YYYY, h:mm a").*/format('lll'); %>
		</p>

		<div class='post-comment'>
			
			<% if(locals.user){ %>
			<form id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
				<input type="text" name="content" placeholder="Enter your comment here.." required>
				<input type='hidden' name='post' value='<%= post._id %>'>
				<input type='submit' value="Add Comment">
			</form>
			<% } %>

		</div>

		<div class='post-comment-list'>
			<!-- <big>Comment:</big> -->
			<ul id='post-comments-<%= post._id %>'>
			<% for(comment of post.comments){ %>
				<%- include('_comment'); %>
			<% } %>
			</ul>
		</div>

	</li>