	<li id='post-<%= post._id %>' style = "border-radius: 12px;
		box-shadow: 0 0 11px 3px #b0cad8;">
		
		<div>
			<div style="display: flex;justify-content: space-between;">
				<div style = "
					font-family: 'Circular-Loom';
					font-size: 2rem;
					border-bottom: 2px solid black;
					margin-bottom: 8px;"
				>
					<a href='/users/profile/<%= post.user._id %>'><%= post.user.name %></a> posted on Socialera
				</div>
				<div>
					<% if((locals.user) && (locals.user.id == post.user.id)){ %>
			
						<a class = 'delete-post-button' href='/posts/destroy/<%= post._id %>'><i style = "color: #ea3a3a; margin-right: 10px;" class="fa fa-trash"></i></a>
				
						<% } %>
					</div>
			</div>
			
			<% if((locals.user) && (locals.user.id == post.user.id)){ %>
			
			<!-- <small>
				<a class = 'delete-post-button' href='/posts/destroy/<%= post._id %>'>X</a>
			</small>
			 -->
			<% } %>

			<% if(post.pic){ %>
				<div>
					<img src="<%= post.pic %>" width=200 height=200>
				</div> 

			<% } %>
			<div style="font-family: system-ui;
			font-size: 1.5rem;">
				<%= post.content %>
			</div>
			<!-- Author:<small><%= post.user.name %></small> -->
			
			<div class='like-pallet'>
				<div>
				<% if (locals.user){ %>
				<!-- does not look optimal to me -->
				<% let liked = false; %>
            	<% for(x of post.likes){ %>
            		<% if(x.user == locals.user.id){ %>
                		<% liked=true; %>
                		<% break; %>
            		<% } %>
            	<% } %>
            	<% if(!liked){ %>
					<a class="toggle-like-button" data-parentid = "<%= post._id %>" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
						<i style="font-size:24px;color: white;" class="fa fa-thumbs-up" ></i>
					</a>
					<span style="color: #5050bf;
					font-size: 1.4rem;" id = 'like-post-<%= post._id %>'><%= post.likes.length %> Likes</span>
                <% }else{ %>
					<a class="toggle-like-button" data-parentid = "<%= post._id %>" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
						<i style="font-size:24px;color:blue;" class="fa fa-thumbs-up" ></i>
					</a>
					<span style="color: #5050bf;
					font-size: 1.4rem;"; id = 'like-post-<%= post._id %>'><%= post.likes.length %> Likes</span>
				<% } %>	
				</div>
	            <!-- <% }else{ %>
	        		
	                <a>
						<i style="font-size:24px;color: white;" class="fa">&#xf087;</i>
						<span style="color: red;"><%= post.likes.length %> Likes</span>
					</a>
	        
	            <% } %> -->
	            <span class='post-date'>
					<%= moment(post.createdAt)./*format("MMMM Do YYYY, h:mm a").*/format('lll'); %>
				</span>
			</div>			
		</div>

		<div class='post-comment'>
			
			<% if(locals.user){ %>
			
			<form
			style = "display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 20px;" 
			id="post-<%= post._id %>-comments-form" action="/comments/create" method="post">
			
				<input 
				style = "font-size: 1.2rem;
				width: 85%;
				border: 2px solid;
				border-radius: 7px;"
				type="text" name="content" placeholder="Enter your comment here.." title='Type your comment here !' required>
				<input type='hidden' name='post' value='<%= post._id %>'>
				<input style = "background: #1e90ff;
				width: 80px;
				font-family: cursive;
				font-weight: 600;
				border-radius: 10px;
				border: 2px solid black;" 
				type='submit' value="Comment">
			
			</form>
			
			<% } %>

		</div>

		<div class='post-comment-list'>
			<!-- <big>Comment:</big> -->
			<ul id='post-comments-<%= post._id %>'>
			
			<% for(comment of post.comments){ %>
			
				<%- include('_comment'); %>
			
			<% } %>
			
			</ul>
		
		</div>

	</li>