<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<script async type="text/javascript" src="<%= assetPath('js/loader.js') %>"></script>
	<script type="text/javascript" src="<%= assetPath('js/jquery.js') %>"></script>
	<!-- <script type="textn/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js'></script> -->
	<!-- Use jquery cdn -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link defer rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/layout.css') %>">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/header.css') %>">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/footer.css') %>">

	<%- style %>


</head>
<body>

	<%- include('_header.ejs'); %>

	<%- include('_loader.ejs'); %>

	<main id='layout-body'>
	<%- body %>
	</main>

	<%- include('_footer'); %>

	<%- script %>
		
	<script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>

	<script type="text/javascript" src='/js/layout.js'></script>	

	<script>

  		<% if(flash.success && flash.success.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.success%>",
				type:'success',
				layout:'topCenter',
				timeout: 1500,
			}).show();
		<% } %>

		<% if(flash.error && flash.error.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.error%>",
				type:'error',
				layout:'topCenter',
				timeout: 1500,
			}).show();
		<% } %>

		<% if(flash.long && flash.long.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.long%>",
				type:'success',
				layout:'topCenter',
				timeout: 4000,
			}).show();
		<% } %>
		
	</script>

</body>
</html>