<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	
	<script type="text/javascript" src="<%= assetPath('js/loader.js') %>"></script>
	<script defer type="text/javascript" src="<%= assetPath('js/jquery.js') %>"></script>
	<!-- Use jquery cdn -->
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/layout.css') %>">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/header.css') %>">
	<link rel="stylesheet" type="text/css" href="<%= assetPath('css/footer.css') %>">

	<%- style %>
	<%- script %>

</head>
<body>

	<%- include('_header.ejs'); %>

	<main id='layout-body'>
	<%- body %>
	</main>
	
	<div id='load-container'>
		<div id='static'>Socialera</div>
		<div id='name'>Socialera</div>
		<div id='outer'>
			<div id='loader' class='center'></div>
		</div>
	</div>


	<%- include('_footer'); %>
		

	<script>

  		<% if(flash.success && flash.success.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.success%>",
				type:'success',
				layout:'topCenter',
				timeout: 1500,
			}).show();
		<% } %>

		<% if(flash.error && flash.error.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.error%>",
				type:'error',
				layout:'topCenter',
				timeout: 1500,
			}).show();
		<% } %>

		<% if(flash.long && flash.long.length>0){ %>
			new Noty({
				theme:'relax',
				text: "<%=flash.long%>",
				type:'success',
				layout:'topCenter',
				timeout: 4000,
			}).show();
		<% } %>
		
	</script>

</body>
</html>