<link rel="stylesheet" type="text/css" href="/css/user_profile.css">

<div class = 'container'>

<div class = 'pic-container'>
	<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width='200px'>
	<div><%= profile_user.name %></div>
</div>
<div class = 'detail-container'>
<!-- <% if(profile_user.name){ %>
<div><strong>Name</strong> : <%= profile_user.name %></div>
<% } %> 
<% if(profile_user.email){ %>
<div><strong>E-mail</strong> : <%= profile_user.email %></div>
<% } %> -->

<div><strong>E-mail</strong> : <%= profile_user.email %></div>

<% if(user.id == profile_user.id){ %>
<div>
	<button id='update'><a href = '/users/profile/update/<%= profile_user.id %>'>Update Profile</a></button>
	<button id='delete'><a>Delete Account</a></button>
</div>
<div id='confirm'>
	<span id='decision'>
		<button id='yes'><a href = '/users/delete/<%= profile_user.id %>'>Yes</a></button>
		<strong>Warning!</strong>
		<button id='no'>No</button>
	</span>
	<span id='warning'>This action can not be undone and all your data will be permanently deleted!
	</span>
</div>
<% } %>

</div>
<!-- <% if(profile_user.avatar){ %>
<img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width='200px'>
<% }else{ %>
<img src="/uploads/users/default-avatar/avatar.jpg" width='200'>
<% } %> -->

</div>
<script type="text/javascript" src='/js/profile.js'></script>